<!DOCTYPE html>
<html lang="pt-br">
<head>
<script>  
    function hover(botao){
        if(botao == 'sim'){
            let botao_sim = document.getElementById('sim');
            botao_sim.style.border = '1px solid black';
        }else if(botao == 'nao'){
            let botao_nao = document.getElementById('nao');
            botao_sim.style.border = '1px solid black';
        }else if(botao == 'nao_sei'){
            let botao_nao_sei = document.getElementById('nao_sei');
            botao_sim.style.border = '1px solid black';
        }
    }

    function desativa_hover(botao){
        if(botao == 'sim'){
            let botao_sim = document.getElementById('sim');
            botao_sim.style.border = 'none';
        }else if(botao == 'nao'){
            let botao_nao = document.getElementById('nao');
            botao_sim.style.border = 'none';
        }else if(botao == 'nao_sei'){
            let botao_nao_sei = document.getElementById('nao_sei');
            botao_sim.style.border = 'none';
        }
    }

    window.addEventListener("load", function(evt) {
    var output = document.getElementById("output");
    var input = document.getElementById("input");
    var ws;

    var print = function(message) {
        var d = document.createElement("div");
        d.textContent = message;
        output.appendChild(d);
        output.scroll(0, output.scrollHeight);
    };

    // Abre a conexão WebSocket automaticamente
    function connectWebSocket() {
        if (ws) {
            return;
        }
        ws = new WebSocket("{{.}}");
        ws.onmessage = function(evt) {
            if (evt.data){
            print(evt.data); // Exibe apenas a resposta do servidor
            }
        };
        ws.onclose = function() {
            ws = null;
        };
        ws.onerror = function(evt) {
            console.error("WebSocket Error:", evt);
        };
    }

    connectWebSocket(); // Chama a função automaticamente ao carregar a página

    document.getElementById("send").onclick = function(evt) {
        if (!ws) {
            return false;
        }
        ws.send(input.value);
        return false;
    };

    document.getElementById("close").onclick = function(evt) {
        if (ws) {
            ws.close();
        }
        return false;
    };
    
});
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELP BOT</title>
    <link rel="stylesheet" href="../templates/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <img src="imagens/PI - Logo Help Bot.svg" width="500px" height="500px">
    <div>
        <p>PERGUNTA 1</p>
    </div>
    <div class="div_buttons">
        <button class="sim" id="sim">SIM</button>
        <button class="nao" id="nao">NÃO</button>
        <button class="nao_sei" id ="nao_sei">NÃO SEI</button>
    </div>
    <img class="img_buttons" src="imagens/botoes_placa.png">
</body>
</html>
