<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HELP BOT</title>
	<link rel="stylesheet" href="../templates/style/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
	<img src="/style/imagens/PI - Logo Help Bot.svg" width="500px" height="500px">
	<div id="pergunta">
		<p>PERGUNTA 1</p>
	</div>
	<div class="div_buttons">
		<button class="sim" id="sim">SIM</button>
		<button class="nao" id="nao">NÃO</button>
		<button class="nao_sei" id ="nao_sei">NÃO SEI</button>
	</div>
	<h4> Utilize a placa arduino de acordo com a imagem abaixo para responder as perguntas </h4>
	<img src="/static/imagens/botoes_placa.png" alt="sei la">
	<div id="input-container">
	</div>
	<script src="/static/js/script.js"></script>
</body>
</html>
